---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import Hero from '../components/sections/Hero.astro';
import Process from '../components/sections/Process.astro';
import Comparison from '../components/sections/Comparison.astro';
import FAQ from '../components/sections/FAQ.astro';
import Pricing from '../components/sections/Pricing.astro';
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <Process />
    <Comparison />
    <Pricing />
    <FAQ />
  </main>
  <Footer />
</BaseLayout>
